<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
	<head>
		<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
		<meta charset="UTF-8"/>
		<script src="/static/js/script.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	</head>
	
	<body>
		<form th:method="POST" class="form" th:action="@{/hello}" th:object="${builder}">
		
			<select id="consumers" th:field="*{consumer}">
				<option style="display: none;" value="">Потребитель</option>
				<option value="Установки">Установки</option>
				<option value="Автомобильный транспорт">Автомобильный транспорт</option>
			</select>
			
			<select id="fuel-type" th:field="*{fuelType}">
				<option style="display: none;" value="">Топливо</option>
				<option value="Сырая нефть">Сырая нефть</option>
				<option value="Газовый конденсат">Газовый конденсат</option>
				<option value="Бензин автомобильный">Бензин автомобильный</option>
				<option value="Дизельное топливо">Дизельное топливо</option>
				<option value="Керосин осветительный">Керосин осветительный</option>
				<option value="Топливо нефтяное(мазут)">Топливо нефтяное(мазут)</option>
				<option value="Пропан и бутан сж.">Пропан и бутан сж.</option>
				<option value="Углеводородные газы сж.">Углеводородные газы сж.</option>
				<option value="Битум">Битум</option>
				<option value="Коксующийся уголь">Коксующийся уголь</option>
				<option value="Уголь каменный">Уголь каменный</option>
				<option value="Природный газ">Природный газ</option>
				<option value="Дрова для отопления">Дрова для отопления</option>
			</select>
			
			<input type="text" placeholder="Количество" th:field="*{amount}"/>
			
			<select id="unit" th:field="*{unit}">
				<option style="display: none;" value="">Единицы измерения</option>
				<option value="Тонны/год">Тонны/год</option>
				<option value="м3/год">Метры кубические/год</option>
			</select>
			
			<br/>
			
			<select id="consumers" th:field="*{consumer}">
				<option style="display: none;" value="">Потребитель</option>
				<option value="Установки">Установки</option>
				<option value="Автомобильный транспорт">Автомобильный транспорт</option>
			</select>
			
			<select id="fuel-type" th:field="*{fuelType}">
				<option style="display: none;" value="">Топливо</option>
				<option value="Сырая нефть">Сырая нефть</option>
				<option value="Газовый конденсат">Газовый конденсат</option>
				<option value="Бензин автомобильный">Бензин автомобильный</option>
				<option value="Дизельное топливо">Дизельное топливо</option>
				<option value="Керосин осветительный">Керосин осветительный</option>
				<option value="Топливо нефтяное(мазут)">Топливо нефтяное(мазут)</option>
				<option value="Пропан и бутан сж.">Пропан и бутан сж.</option>
				<option value="Углеводородные газы сж.">Углеводородные газы сж.</option>
				<option value="Битум">Битум</option>
				<option value="Коксующийся уголь">Коксующийся уголь</option>
				<option value="Уголь каменный">Уголь каменный</option>
				<option value="Природный газ">Природный газ</option>
				<option value="Дрова для отопления">Дрова для отопления</option>
			</select>
			
			<input type="text" placeholder="Количество" th:field="*{amount}"/>
			
			<select id="unit" th:field="*{unit}">
				<option style="display: none;" value="">Единицы измерения</option>
				<option value="Тонны/год">Тонны/год</option>
				<option value="м3/год">Метры кубические/год</option>
			</select>
			
			<input type="submit" value="send">
		
		</form>
	</body>
</html>